<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- 
  We can override the bootstrapper inside the config if we don't want to rely on the bootstrapper locator.
  -->
  <configSections>
    <section name="nancyFx" type="Nancy.Hosting.Aspnet.NancyFxSection" />
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection" />
    <section name="authenticationProviders" type="SimpleAuthentication.Core.Config.ProviderConfiguration, SimpleAuthentication.Core" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <nancyFx>
    <!--<bootstrapper assembly="Aptitud.SimpleCV.Web" type="Aptitud.SimpleCV.Web.Bootstrap, Aptitud.SimpleCV.Web"/>-->
  </nancyFx>
  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="Aptitud.SimpleCV" />
    </assemblies>
    <namespaces>
      <add namespace="Aptitud.SimpleCV" />
      <add namespace="System.Linq" />
    </namespaces>
  </razor>
  <system.diagnostics configSource="system.diagnostics.config"/>

  <system.web>
    <compilation debug="true" targetFramework="4.0">

      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />

    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />


    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="RavenHQ" connectionString="" />
  </connectionStrings>
  <authenticationProviders>
    <providers>
      <add name="Google" key="587140099194.apps.googleusercontent.com" secret="npk1_gx-gqJmLiJRPFooxCEY" />
      <!--<add name="Facebook" key="please-enter-your-real-value" secret="please-enter-your-real-value"/>
			<add name="Google" key="please-enter-your-real-value" secret="please-enter-your-real-value"/>
			<add name="Twitter" key="please-enter-your-real-value" secret="please-enter-your-real-value"/>
			<add name="WindowsLive" key="please-enter-your-real-value" secret="please-enter-your-real-value"/>-->
    </providers>
  </authenticationProviders>

  <appSettings>
    <add key="webPages:Enabled" value="false" />
  </appSettings>
  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
</configuration>